# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg

# Virtual environments
venv/
.venv/
env/
path/

# IDE
.idea/
.vscode/
*.swp

# Inspect AI logs
**/logs/
*.log

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# OS
.DS_Store
Thumbs.db
